/* En src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ws_corsiana";
  src: url("/src/fonts/WS_CORSICANA.otf") format("opentype");
}

@font-face {
  font-family: "ws_curio";
  src: url("/src/fonts/WS_CURIO.otf") format("opentype");
}

@font-face {
  font-family: "ws_modernephemera";
  src: url("/src/fonts/WS_MODERNEPHEMERA.otf") format("opentype");
}

.font-modernephemera {
  font-family: "ws_modernephemera", sans-serif;
}

.font-corsiana {
  font-family: "ws_corsiana", sans-serif;
}

.font-curio {
  font-family: "ws_curio", sans-serif;
}

.slider-container {
  width: 100%;
  max-width: 542px;
  position: relative;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1px;
  background: #8899aa;
  border-radius: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

input[type="range"]::-webkit-slider-thumb {
  width: 21px;
  height: 21px;
  background: linear-gradient(to right, #f06449, #8899aa);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  margin-top: -10px; /* Center the thumb vertically */
}

.slider-tooltip {
  position: absolute;
  top: -69.37px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  width: auto;
  height: 59.7px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid #8899aa;
  z-index: 1;
}

.tooltip-earnings {
  font-family: "ws_curio", sans-serif; /* Mantiene la fuente original */
  font-size: 20px;
  font-weight: 400;
  color: #48a9d1;
  margin-top: 5px;
  margin-bottom: -10px;
}

.tooltip-followers {
  font-family: "Jost", sans-serif;
  font-size: 14px !important;
  font-weight: 400;
  color: black;
}

.slider-tooltip::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: white;
  border-bottom: 1px solid #8899aa;
  border-right: 1px solid #8899aa;
}

.slider-container::before,
.slider-container::after {
  content: attr(data-label);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 20px;
  font-family: "Jost", sans-serif;
  padding: 5px 0px;
}

.slider-container::before {
  content: "0";
  left: -30px; /* Ajustar según el espacio necesario */
}

.slider-container::after {
  content: "1M";
  right: -30px; /* Ajustar según el espacio necesario */
}

.active {
  @apply bg-[#E3F5F9] border-2 border-[#28587B] text-[#28587B];
}

@media screen and (min-width: 1280px) {
  .slider-tooltip {
    top: -105.37px;
    width: auto;
    height: 89px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 33px;
    height: 34px;
  }

  .tooltip-earnings {
    font-family: "ws_curio", sans-serif; /* Mantiene la fuente original */
    font-size: 36px;
    font-weight: 400;
    color: #48a9d1;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .tooltip-followers {
    font-family: "Jost", sans-serif;
    font-size: 24px !important;
    font-weight: 400;
    color: black;
  }
  .slider-container::before,
  .slider-container::after {
    transform: translateY(-50%);
    font-size: 24px;
    line-height: 20px;
  }

  input[type="range"]::-webkit-slider-thumb {
    margin-top: -15px; /* Center the thumb vertically */
  }
}
